body{
    background-color: #12F8AD;
}
.main-section{
    margin: 0 auto;
    margin-top: 60%;
    padding: 0;
    background-color: #2A2B38;
    color: #12F8AD;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
}
a{
    color: #12F8AD;
}
a:hover{
    color: #119b6d;
}