@charset "UTF-8";
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
.pop-up{
    margin-top:8%;
    border-style:solid;
    background-color: #12F8AD;
}
.header{
    position: relative;
    margin-top: 2%;
    font-weight: bold;
}
.container-info{
    background-color: #2A2B38;
    border-color: #12F8AD;
    border-style:solid;
    border-width: 20px;
    color: white;
}
.columns{
    margin-top: 5%;
    margin-bottom: 5%;
}
.nota{
    position: relative;
    top: -20px;
    margin-top: 5px;
}
.confirm{
    position: relative;
    top: 20px;
    width: 80%;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 50px;
    border:transparent;
    background-color:#12F8AD ;
    border-color: #12F8AD;
    color: #2A2B38;
}
.confirm:hover{
    background-color: #119b6d;
    border-color: #119b6d;
}
.cancel{
    position: relative;
    margin-top: 2%;
    margin-right:3.5%;
    color: #12F8AD;
    font-weight: bold;
    background-color:transparent;
    border:none;
}
.cancel:hover{
	color:#119b6d;
}
img{
     position: relative;
     top: -10px;
    width:170px;
    height: 170px;
    max-width: 170px;
    max-height: 170px;
    border-radius:150px;
    border-style:inset;
    border-color: #2A2B38;
}
.izq, .der{
	position: relative;
     top: 70px;
    border-color: transparent;
    height: 100px;
    width: 100px;
}
.user-header{
    position: relative;
    top: -40px;
}
.padding{
	position:relative;
	left:-50px;
}
