body{
    background-color: #12F8AD;
}
.main-text{
    background-color:  #12F8AD;
    color: #2A2B38;
    font-weight: bold;
    padding-left: 1.5%;
}
.row{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #2A2B38;
    color: white;
}
.fixed-bottom{
    border-top-style:solid;
    border-top-color: #2A2B38;
    border-radius: 0.05cm;
    font-weight: bold;
    padding-left: 1.5%;
}
.nav-link{
color: #12F8AD;
background-color: #12F8AD;
font-weight: bold;
}
.nav-link:hover{
    background-color: #12F8AD;
    color: #2A2B38;
    font-weight: bold;
}
