body{
    background-color: #12F8AD;
}
.header{
    margin-top: 3%;
}
.inf-user .user-img{
    position: relative;
    top: 20px;
    margin-bottom: -50px;
}
.inf-user .user-img img{
    width:170px;
    height: 170px;
    max-width: 170px;
    max-height: 170px;
    border-radius:150px;
    border-style:inset;
    border-color: #2A2B38;
}
.user-data{
    padding: 5%;
    color:white;
    background-color: #2A2B38;
}
.rows{
    padding-left: 2%;
    padding-top: 2%;
}
.nav-link{
color: #12F8AD;
font-weight: bold;
}
.nav-link:hover{
    background-color: #12F8AD;
    color: #2A2B38;
    font-weight: bold;
}   
.inf-extra{
    background-color: #2A2B38;
    color: white;
}
.fixed-bottom{
    border-top-style:solid;
    border-top-color: #2A2B38;
    border-radius: 0.05cm;
    font-weight: bold;
    padding-left: 1.5%;
}
a{
    color: #12F8AD;
}
a:hover{
    color: #119b6d;
}
.btn-primary{
    position: relative;
    color: #2A2B38;
    font-weight: bold;
    border: none;
    background-color: #12F8AD;
}
.btn-primary:hover{
    color: #2A2B38;
    font-weight: bold;
    border: none;
    background-color: #119b6d;
}