<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProyectoDEW</display-name>
  <welcome-file-list>
    <welcome-file>VistaPrincipal.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet0</display-name>
    <servlet-name>Servlet0</servlet-name>
    <servlet-class>Servlet0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet0</servlet-name>
    <url-pattern>/Servlet0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resend</display-name>
    <servlet-name>Resend</servlet-name>
    <servlet-class>Resend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resend</servlet-name>
    <url-pattern>/Resend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logv0</display-name>
    <servlet-name>Logv0</servlet-name>
    <servlet-class>Logv0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logv0</servlet-name>
    <url-pattern>/Logv0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logv1</display-name>
    <servlet-name>Logv1</servlet-name>
    <servlet-class>Logv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logv1</servlet-name>
    <url-pattern>/Logv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logv2</display-name>
    <servlet-name>Logv2</servlet-name>
    <servlet-class>Logv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logv2</servlet-name>
    <url-pattern>/Logv2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>rArch</param-name>
    <param-value>/home/user/tomcat/temp/</param-value>
  </context-param>
  <context-param>
    <param-name>directorio_imagenes</param-name>
    <param-value>/home/user/tomcat/fotos/</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>PeticionHTTP</display-name>
    <servlet-name>PeticionHTTP</servlet-name>
    <servlet-class>PeticionHTTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeticionHTTP</servlet-name>
    <url-pattern>/PeticionHTTP</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>rolpro</role-name>
  </security-role>
  <security-role>
    <role-name>rolalu</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>AutenticacionSinHTML</display-name>
    <servlet-name>AutenticacionSinHTML</servlet-name>
    <servlet-class>AutenticacionSinHTML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacionSinHTML</servlet-name>
    <url-pattern>/AutenticacionSinHTML</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Protegido</realm-name>
    <form-login-config>
      <form-login-page>/contenido/Login.html</form-login-page>
      <form-error-page>/contenido/Error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <display-name>Constraint1</display-name>
    <web-resource-collection>
      <web-resource-name>Autenticacion</web-resource-name>
      <url-pattern>/contenido/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>ListarAsignaturas</display-name>
    <servlet-name>ListarAsignaturas</servlet-name>
    <servlet-class>ListarAsignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAsignaturas</servlet-name>
    <url-pattern>/contenido/ListarAsignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asignaturas</display-name>
    <servlet-name>Asignaturas</servlet-name>
    <servlet-class>Asignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asignaturas</servlet-name>
    <url-pattern>/contenido/Asignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignaturasProfesor</display-name>
    <servlet-name>AsignaturasProfesor</servlet-name>
    <servlet-class>AsignaturasProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignaturasProfesor</servlet-name>
    <url-pattern>/contenido/AsignaturasProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAlumnos</display-name>
    <servlet-name>ListaAlumnos</servlet-name>
    <servlet-class>ListaAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAlumnos</servlet-name>
    <url-pattern>/contenido/ListaAlumnos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarNota</display-name>
    <servlet-name>CambiarNota</servlet-name>
    <servlet-class>CambiarNota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarNota</servlet-name>
    <url-pattern>/contenido/CambiarNota</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarNota</display-name>
    <servlet-name>MostrarNota</servlet-name>
    <servlet-class>MostrarNota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarNota</servlet-name>
    <url-pattern>/contenido/MostrarNota</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarNota2</display-name>
    <servlet-name>CambiarNota2</servlet-name>
    <servlet-class>CambiarNota2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarNota2</servlet-name>
    <url-pattern>/contenido/CambiarNota2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Registros</display-name>
    <filter-name>Registros</filter-name>
    <filter-class>Registros</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Registros</filter-name>
    <url-pattern>/contenido/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>fotos</display-name>
    <servlet-name>fotos</servlet-name>
    <servlet-class>fotos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fotos</servlet-name>
    <url-pattern>/fotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Autenticacion</display-name>
    <filter-name>Autenticacion</filter-name>
    <filter-class>Autenticacion</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Autenticacion</filter-name>
    <url-pattern>/contenido/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PDF</display-name>
    <servlet-name>PDF</servlet-name>
    <servlet-class>PDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDF</servlet-name>
    <url-pattern>/contenido/PDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarNotas</display-name>
    <servlet-name>CambiarNotas</servlet-name>
    <servlet-class>CambiarNotas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarNotas</servlet-name>
    <url-pattern>/CambiarNotas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAlumnos</display-name>
    <servlet-name>GetAlumnos</servlet-name>
    <servlet-class>GetAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAlumnos</servlet-name>
    <url-pattern>/GetAlumnos</url-pattern>
  </servlet-mapping>
</web-app>